<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Posts List</title>
    <style>

    </style>
</head>
<body>
    <div class="m-5">
        <h1 class="mb-4">Posts List</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Views</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.author}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.views}"></td>
            </tr>
            </tbody>
        </table>


        <nav aria-label="Page navigation example">
            <ul class="pagination flex justify-content-center">
                <li class="page-item" th:if="${currentPage > 1}"><a class="page-link" th:href="@{/posts(page=${currentPage - 1}, size=${pageSize})}">Previous</a></li>
                <li class="page-item"><a class="page-link" th:classappend="${currentPage == page} ? 'active' : ''" th:href="@{/posts(page=${currentPage}, size=${pageSize})}" th:text="${currentPage}">1</a></li>

                <li class="page-item"><a class="page-link"  th:href="@{/posts(page=${currentPage + 1}, size=${pageSize})}">Next</a></li>
            </ul>
        </nav>
    </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
